$main-color: #1D71B8;
$main-gray: #6E757A;
$main-black: #1A1B1D;
$text-second: #104776;
$second-color: #3AAA35;
$second-color-hover: #43c43f;
$background-color: #F8F8F8;
$regBox-left: rgba(227, 162, 45, 0.2);
$regBox-right: rgba(57, 181, 74, 0.2);