@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
//Init template & Reset params
$main-color: #1D71B8;
$main-gray: #6E757A;
$main-black: #1A1B1D;
$text-second: #104776;
$second-color: #3AAA35;

@media (min-width: 1440px){
  .container{
    max-width: 1320px;
  }
}

html,body {
  font-family: 'Nunito', sans-serif!important;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: inherit;
  &:hover{
    color: inherit;
  }
}
a, button {
  transition: 0.3s;
}
p{
  margin: 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: 0!important;
  padding-left: 0!important;
}

//HomePage
.header-container{
  width: 100%;
  height: auto;
  padding-bottom: 120px;
  background-position-y: -200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/happylife/resources/homepage-bg.svg");
}

.navbar{
  background-color: transparent;
  height: 100px;
  .navbar-brand{
    .logo{
      width: 82px; height: 62px;
    }
  }
  .nav-item{
    .nav-link{
      color: $main-gray;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      display: inline-block;
      margin-right: 48px;
    }
    .dropdown-toggle{
      &:after{
        vertical-align: middle;
      }
    }
    .fa-search{
      color: white!important;
      font-size: 14px;
    }
  }
  .navbar-nav{
    display: flex;
    margin-right: 0px!important;
    .dropdown-menu{
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;
      display: block;
      height: 0;
      padding: 0;
      .dropdown-item{
        font-weight: 600;
      }
    }
    .dropdown-menu.show{
      transition: all 0.3s ease;
      visibility: visible;
      opacity: 1;
      height: auto;
      padding: auto;
    }
  }
  .nav-register{
    .btn-light{
      background-color: #3AAA35;
      border-radius: 15px;
      border: 1px solid #3AAA35;
      height: 50px;
      color: white;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      padding-left: 26px;
      padding-right: 26px;
    }
  }

  .navbar-collapse{
    z-index: 10;
    background-color: transparent;
  }
  .active{
    font-style: normal;
    font-weight: 800!important;
    font-size: 18px;
    line-height: 24px;
    color: $main-color!important;
  }
}

.welcome-container{
  margin-top: 120px;
  .two-phone{
    max-width: 630px;
  }
  .ic_2phone_1{
    position: absolute;
    top: 60%; left: 0;
  }
  .ic_2phone_2{
    position: absolute;
    top: 0%; left: 50%;
  }
  .ic_2phone_3{
    position: absolute;
    top: 55%; right: 0;
  }
  .icon-box{
    width: 190px;
    height: 35px;
    background-color: white;
    border-radius: 20px;
    padding: 8px 32px 8px 32px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .icon{
      width: 20px; height: 20px;
    }
  }
  .welcome-title{
    margin-top: 20px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    color: $text-second;
  }
  .welcome-title2{
    max-width: 500px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #647C91;
  }
  .btn-reg{
    margin-top: 40px;
    background-color: $second-color;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 26px 13px 26px;
    border: 1px solid $second-color;
    border-radius: 15px;
  }
}
.abt-happystation-container{
  width: 100%;
  height: 830px;
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-image: url("/happylife/resources/middle-bg.svg");
  //background-position-y: -100px;
  text-align: center;
  //background-image: linear-gradient(0, #f7f7f8, white);
  .container{
  }
  .blue-box{
    position: absolute; bottom: 0; left: 0;
    z-index: -1;
    margin-top: 275px;
    width: 100%;
    height: 420px;
    background-color: #1B75BC;
  }
  .abt-box{
    padding-top: 20px;
    background-color: white;
    height: 520px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .abt-box-title{
      margin-top: 40px;
      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: $second-color;
    }
    .abt-box-text{
      margin-top: 18px;
      max-width: 324px;
      margin-left: auto; margin-right: auto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: $main-black;
    }
  }
}

.dot-title-wrapper{
  flex-direction: row;
  align-items: center; justify-content: center;
  .text{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: $text-second;
  }
  .dot{
    width: 8px; height: 8px; border-radius: 4px;
    background-color: $main-color;
    margin: 0 10px 0 10px;
  }
}
.blk-text{
  margin-top: 32px;
  max-width: 535px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: $main-black;
  margin-left: auto; margin-right: auto;
}
.black-text{
  margin-top: 24px;
  max-width: 646px;
  color: $main-black;
  text-align: center;
  margin-left: auto; margin-right: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.four-box-container{
  margin-top: 48px;
  .first-col{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 952px;
  }
  .item-box{
    margin-left: auto; margin-right: auto;
    width: 97%;
    height: 460px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    img{
      width: 100%;
      position: absolute; top: 0; left: 0;
      z-index: 0;
    }
    .blur-box{
      bottom: 0; left: 0;
      position: absolute;
      z-index: 1;
      width: 100%; height: 207px;
      background-image: linear-gradient(0, rgba(29, 113, 184, 0.9), rgba(29, 113, 184, 0));
    }
    .text{
      position: absolute;
      z-index: 2;
      width: 100%;
      bottom: 32px;
      left: 0;
      text-align: center;
      font-style: normal;
      font-weight: 900;
      font-size: 26px;
      line-height: 32px;
      color: white;
    }
  }
  .lower{
    margin-top: 32px;
  }
}
.member-reg-container{
  margin-top: 100px;
}
