//Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

//Init variable
@import "global-variable";

//Init template & Reset params
@import "reset";
@media (min-width: 1440px){
  .container{
    max-width: 1216px;
  }
}

html,body {
  font-family: 'Nunito', sans-serif!important;
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: $background-color;
}
a{
  text-decoration: none;
  color: inherit;
  &:hover{
    color: inherit;
  }
}
a, button {
  transition: 0.3s;
}
p{
  margin: 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: 0!important;
  padding-left: 0!important;
}

//HomePage
.header-container{
  width: 100%;
  height: auto;
  background-position-y: -2rem;
  background-position-x: -5rem;
  background-size: cover!important;
  background: url("/happylife/resources/homepage-bg.svg")no-repeat;
}

.navbar{
  background-color: transparent;
  height: 10rem;
  .navbar-brand{
    .logo{
      width: 8.2rem; height: 6.2rem;
    }
  }
  .nav-item{
    .nav-link{
      color: $main-gray;
      font-style: normal;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 24px;
      display: inline-block;
      margin-right: 4.8rem;
    }
    .dropdown-toggle{
      &:after{
        vertical-align: middle;
      }
    }
    .fa-search{
      color: white!important;
      font-size: 14px;
    }
  }
  .navbar-nav{
    display: flex;
    margin-right: 0px!important;
    .dropdown-menu{
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;
      display: block;
      height: 0;
      padding: 0;
      .dropdown-item{
        font-weight: 600;
      }
    }
    .dropdown-menu.show{
      transition: all 0.3s ease;
      visibility: visible;
      opacity: 1;
      height: auto;
      padding: auto;
    }
  }
  .nav-register{
    .btn-light{
      background-color: #3AAA35;
      border-radius: 15px;
      border: 1px solid #3AAA35;
      height: 50px;
      color: white;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      padding-left: 26px;
      padding-right: 26px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      &:hover{
        background-color: $second-color-hover;
        border-color: $second-color-hover;
      }
    }
  }

  .navbar-collapse{
    z-index: 10;
    background-color: transparent;
  }
  .active{
    font-style: normal;
    font-weight: 800!important;
    font-size: 18px;
    line-height: 24px;
    color: $main-color!important;
  }
}

.welcome-container{
  margin-top: 120px;
  .two-phone{
    object-fit: cover;
  }
  .ic_2phone_1{
    position: absolute;
    top: 60%; left: 0;
  }
  .ic_2phone_2{
    position: absolute;
    top: 0%; left: 50%;
  }
  .ic_2phone_3{
    position: absolute;
    top: 60%; right: 0;
  }
  .icon-box{
    width: 190px;
    height: 35px;
    background-color: white;
    border-radius: 20px;
    padding: 8px 32px 8px 32px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .icon{
      width: 20px; height: 20px;
    }
  }
  .welcome-title{
    margin-top: 20px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    color: $text-second;
  }
  .welcome-title2{
    max-width: 500px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #647C91;
  }
}

.btn-reg{
  margin-top: 40px;
  background-color: $second-color;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 26px 13px 26px;
  border: 1px solid $second-color;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &:hover{
    background-color: $second-color-hover;
    border-color: $second-color-hover;
  }
}

.abt-happystation-container{
  margin-top: 120px;
  width: 100%;
  height: 83rem;
  text-align: center;

  .container{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
  }
  .blue-box{
    position: absolute; bottom: 0; left: 0;
    z-index: 0;
    margin-top: 275px;
    width: 100%;
    height: 420px;
    background-color: #1B75BC;
  }
  .quote-box{
    display: flex; align-items: center; justify-content: center;
    margin-top: 5.4rem;
    padding-bottom: 2.4rem; padding-top: 2.4rem;
    width: 100%;
    height: 16.5rem;
    border-radius: 2rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    linear-gradient(0deg, #1B75BC, #1B75BC);
    .quote-text{
      max-width: 85.6rem;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: $text-second;
    }
    .quote-up{
      align-self: flex-start;
      margin-right: 3rem;
      img{
        width: 3.6rem; height: 3.2rem;
      }
    }
    .quote-down{
      align-self: flex-end;
      margin-left: 3rem;
      img{
        width: 3.6rem; height: 3.2rem;
      }
    }
  }
  .abt-box{
    position: relative;
    padding-top: 20px;
    background-color: white;
    height: 520px;
    padding-bottom: 44px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 15px 0px;

    img {
      margin: 0 auto;
    }
    .abt-box-title{
      margin-top: 40px;
      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: $second-color;
    }
    .abt-box-text{
      margin-top: 18px;
      max-width: 324px;
      margin-left: auto; margin-right: auto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: $main-black;
    }
    .hair-decorator{
      position: absolute;
      top: -3.4rem;
      left: -6rem;
      img{
        max-width: 12.7rem;
      }
    }
    .greendot-decorator{
      position: absolute; top: 10rem; left: -7rem;
    }
    .bluedot-decorator{
      position: absolute; top: -3.8rem; right: 50%;
    }
    .half-donut-decorator{
      position: absolute; top: -4.8rem; right: 2rem;
    }
  }
}

.dot-title-wrapper{
  flex-direction: row;
  align-items: center; justify-content: center;
  .text{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: $text-second;
  }
  .dot{
    width: 8px; height: 8px; border-radius: 4px;
    background-color: $main-color;
    margin: 0 10px 0 10px;
  }
}
.blk-text{
  margin-top: 32px;
  max-width: 535px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: $main-black;
  margin-left: auto; margin-right: auto;
}
.black-text{
  margin-top: 24px;
  max-width: 646px;
  color: $main-black;
  text-align: center;
  margin-left: auto; margin-right: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.four-box-container{
  margin-top: 48px;
  .first-col{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 952px;
  }
  .item-box{
    margin-left: auto; margin-right: auto;
    width: 97%;
    height: 460px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    img{
      width: 100%; height: 100%;
      object-fit: cover;
      position: absolute; top: 0; left: 0;
      z-index: 0;
    }
    .blur-box{
      bottom: 0; left: 0;
      position: absolute;
      z-index: 1;
      width: 100%; height: 25%;
      background-image: linear-gradient(0, rgba(29, 113, 184, 0.9), rgba(29, 113, 184, 0));
    }
    .text{
      position: absolute;
      z-index: 2;
      width: 100%;
      bottom: 32px;
      left: 0;
      text-align: center;
      font-style: normal;
      font-weight: 900;
      font-size: 26px;
      line-height: 32px;
      color: white;
    }
  }
  .lower{
    margin-top: 32px;
  }
}
.member-reg-container{
  margin-top: 100px;
  .reg-tag-wrapper{
    justify-content: center; align-items: center;
    padding-top: 95px;
    .box{
      position: relative;
      width: 384px;
      height: 614px;
      border-radius: 30px;
      padding-top: 84px;

      .subscription-name{
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
      }
      .title-left{
        color: #E3A22D;
      }
      .title-right{
        color: #158B10;
      }

      .sub-title{
        margin-top: 32px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #888888;
        text-align: center;
      }
      .pricing{
        margin-top: 14px; margin-left: auto; margin-right: auto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        max-width: 240px;
      }
      .common-text{
        margin-top: 14px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $main-black;
      }
    }
    .left{
      background-color: $regBox-left;
      margin-right: 16px;
    }
    .right{
      background-color: $regBox-right;
      margin-left: 16px;
    }
    .icon-circle{
      display: flex;
      align-items: center; justify-content: center;
      position: absolute;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      border: 5px solid white;
      top: -60px;
      left: 50%; transform: translateX(-50%);
      img{
        max-width: 64px;
      }
    }
    .icon-left{
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
      linear-gradient(0deg, #E3A22D, #E3A22D);
    }
    .icon-right{
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
      linear-gradient(0deg, #39B54A, #39B54A);
    }
  }
}
.article-container{
  margin-top: 10rem;
  .article-item-wrapper{
    margin-top: 6.1rem;
    .article-item-box{
      img{
        width: 100%;
        height: 314px;
        object-fit: cover;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        border: 1px solid $background-color;
      }
      .article-title{
        margin-top: 2.5rem;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: $main-black;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .article-short-desc{
        margin-top: 0.8rem;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $main-black;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
.footer-container{
  margin-top: 10rem;
  background-color: white;
  padding-top: 3.4rem;
  padding-bottom: 3.4rem;
  .footer-col-title{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: $main-black;
  }
  .block-detail-wrapper{
    margin-top: 3.2rem;
    .block-detail{
      display: flex; flex-direction: row;
      align-items: flex-start;
      margin-bottom: 1.8rem;
      img{
        width: 24px;
      }
      p{
        margin-left: 2.7rem;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: $main-black
      }
      .social-text{
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  .badge-wrapper{
    margin-top: 1.5rem;
    display: flex; flex-direction: row;
    align-items: center; justify-content: flex-start;
    .first-item{
      margin-right: 1.2rem;
    }
  }
}

.nav-container{
  background-color: white;
}
.banner-container{
  position: relative;
  width: 100%;
  height: 64.5rem;
  .gray-box{
    position: absolute;
    display: flex; align-items: center; justify-content: center;
    width: 73.5rem;
    height: 15.2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(30, 28, 28, 0.25);
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    .gray-box-text{
      max-width: 68rem;
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 40px;
      text-align: center;
      color: white;
    }
  }
}

//About happy station
.about-banner{
  background: url("/happylife/resources/about-banner.png")no-repeat;
  background-size: cover;
}

//Contact
.contact-banner{
  background: url("/happylife/resources/contact-banner.png")no-repeat;
  background-size: cover;
}
.contact-info-container{
  margin-top: 10rem;
  .block-title{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: $main-black
  }
  .block{
    margin-top: 4.8rem;
    .block-item{
      margin-top: 2.4rem;
      display: flex;
      flex-direction: row;
      align-items: start; justify-content: flex-start;
      .icon{
        margin-right: 1.6rem;
        width: 3.2rem; height: 3.2rem; border-radius: 1.8rem;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        linear-gradient(0deg, #1B75BC, #1B75BC);
        display: flex; align-items: center; justify-content: center;
        img{
          width: 100%; height: 1.4rem;
        }
      }
      .info{
        .info-title{
          padding-top: 3px;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: $main-black;
        }
        .info-text{
          max-width: 53.8rem;
          margin-top: 1.4rem;
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;
          color: $main-black;
        }
      }
      .social-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2rem;
        .social-item{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          margin-right: 5rem;
          img{
            margin-right: 1rem;
          }
          .social-text{
            font-size: 20px;
            line-height: 24px;
            color: $main-black;
          }
        }
      }
    }
  }
}
.download-app-container{
  position: relative;
  margin-top: 10rem;
  width: 100%;
  height: 49.1rem;
  .inner-content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    .title{
      max-width: 52.9rem;
      font-weight: bold;
      font-size: 42px;
      line-height: 40px;
      color: white;
    }
    .detail{
      max-width: 54rem;
      margin-top: 1rem;
      font-size: 18px;
      line-height: 32px;
      color: white;
    }
  }
  .btn-reg.custom{
    width: 20.8rem; height: 4.8rem;
    margin-top: 2.4rem;
  }
  .parallax-window {
    min-height: 49.1rem;
    background: transparent;
  }
}
.parallax-mirror{
  z-index: 0!important;
}

//Register
.register-banner{
  background: url("/happylife/resources/register-banner.png")no-repeat;
  background-size: cover;
}
.faq-container{
  margin-top: 10rem;
}

